Django
environs[django]
django-allauth[socialaccount]
django-htmx
django-q2
django-tailwind
python-slugify
whitenoise

# Development requirements
pyinvoke
Faker
pytest
pytest-django
pytest-cov
pytest-randomly
django-browser-reload~=1.15.0
django-debug-toolbar~=4.4.6
