{% extends "base.html" %}

{% block head_title %}Home{% endblock head_title %}

{% block content %}

<h1>Welcome!</h1>

<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Magna porttitor lacus ut arcu platea fames. Tempor nascetur dis fusce lacus sit habitasse eleifend malesuada ante. Sodales litora ornare scelerisque a vestibulum accumsan lobortis. Finibus faucibus ipsum parturient est; egestas massa. Varius lacinia scelerisque primis risus dui lectus. Etiam sit suscipit cubilia curabitur ridiculus sem. Faucibus orci elementum nibh eros massa, adipiscing parturient auctor.
</p>

<p>
    Suscipit sapien nisl metus; efficitur posuere ornare litora commodo. Donec suscipit maximus habitasse auctor fermentum eget vestibulum. Feugiat aliquam gravida habitasse, per sollicitudin ipsum lobortis luctus mollis. Lacinia posuere pharetra cras; ultrices massa etiam. Potenti libero condimentum netus felis leo; quam suspendisse magnis. Lorem ridiculus purus varius porttitor dui in. Vulputate luctus purus rutrum nulla ornare. Eleifend augue aptent eleifend vestibulum dis lectus neque.
</p>

{% endblock content %}